---
name: "Build and Release"

on:
  push:
    branches: [master, dev]
    tags: ["v*"]
    paths-ignore:
      - "**.md"
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: "Build and test"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Try running mirror action"
        uses: ./
        with:
          REMOTE: git@gitlab.com:${{ github.repository }}.git
          GIT_SSH_PRIVATE_KEY: ${{ secrets.SYNC_PRIVATE_KEY }}
          GIT_PUSH_ARGS: --force --prune
          GIT_SSH_NO_VERIFY_HOST: true
          PUSH_ALL_REFS: false
          DEBUG: "true"
          DRY_RUN: "true"

  release:
    name: "Publish release"
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: "Fetch tags"
        run: |
          echo "CURRENT_VERSION=${{ github.ref_name }}" >> "$GITHUB_ENV"
          echo "PREVIOUS_VERSION=$(git describe --tags --abbrev=0 --match "v*.*.*" HEAD^ 2> /dev/null || echo "")" >> "$GITHUB_ENV"

      - name: "Build Changelog"
        run: |
          cp ./.github/genReleaseNote.sh ./
          chmod +x genReleaseNote.sh
          ./genReleaseNote.sh "$PREVIOUS_VERSION" "$CURRENT_VERSION"
          rm -f genReleaseNote.sh

      - name: "Upload release"
        uses: softprops/action-gh-release@v2
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          body_path: ./release.md

      - name: "Extract Major Version"
        id: extract
        shell: bash
        run: |
          set -eEuxo pipefail
          echo "tag_name=${GITHUB_REF_NAME%.*.*}" >> "$GITHUB_OUTPUT"

      - name: "Sync Major Tag"
        uses: richardsimko/update-tag@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.extract.outputs.tag_name }}
